@import "tailwindcss";
@plugin "daisyui";



/* custom theme for light and dark */


@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #004d40;
  --color-primary-content: #ffffff;
  --color-card-text: #000000D9;

  /* warning color */
  --color-info: #4f46e5;
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
}

/* --- Dark Theme --- */
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #26a69a;
  --color-primary-content: #ffffff;
  --color-card-text: #FFFFFFD9;

  /* warning color */
  --color-info: #6366f1;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}
